{% extends "home/base.html" %}

{# Title of page send by view.py methon in context #}

{%block title%}
   {{title}}
 {%endblock%}


 {%block jumbotron%}
   
   {% include 'home/tophead.html' with menu_list=menu_list company_list=company_list %}
   
 {%endblock%}
 
 {%block body %}

{% if  objkey.0.blog.blogname == "Profile" or objkey.0.blog.blogname == "Overview"  %}

{% for obj in objkey %}

    {% if forloop.counter %}
          
      {% include 'home/blogtemplate1.html' with title=obj.headLine image=obj.postImage text=obj.postData %}

    {% endif %}

{% endfor %}


 {% else  %}
 
  {% for obj in objkey %}

  {% endfor %}

{% endif %}


{% if  objkey.0.blog.blogname == "Event" %}
    {% for obj in objkey %}

      {% if forloop.counter %}
            
        {% include 'home/blogtemplate1.html' with title=obj.headLine image=obj.postImage text=obj.postData %}

      {% endif %}

    {% endfor %}
{% endif %}


  {# footer of page #}

  <div class="jumbotron">
   {% include 'home/footer.html' %}
   <code class="text-center">WebDesign : HIOS@Product 2016</code>
  </div>

 {% endblock body %}