{% extends "home/base.html" %}

{% load mathfilters %}

{# Title of page send by view.py methon in context #}
 {%block title%}
   {{title}}
 {%endblock%}
 
 
 
 {%block jumbotron%}
   
   {% include 'home/tophead.html' with menu_list=menu_list company_list=company_list %}
   
 {%endblock%}
 
 {%block body %}


  {# mobilecover  #}
     {% ifequal page "mobilecover"  %} 
         {% include 'home/mobilecover.html' with company_list=company_list modelist=modellist %}
     {% endifequal %}
  {# endmobilecover #}


  {# orderpage #}
    {% ifequal page "orderpage" %}
      {% include 'home/orderpage.html' with item=item similaritem=similaritem %}
    {% endifequal %}
  {# end orderpage #}


  {# cartitem page #}
     {% ifequal page "cartitem"%}
      {% include 'home/cartitem.html' with cartitemlist=cartitemlist%}
     {% endifequal %}
  {# end cartitem page#}


 {# shipping #}
   {% ifequal page "shipping" %}
     {% include 'home/shipping.html' with shippingform=shippingform %}
   {% endifequal %} 
 {# endshipping #}


{# loginsignuppage #}
  {% ifequal page "loginsignup" %}
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <h3>Please Login First and Create Account</h3>
      {% include 'home/loginsignupbutton.html' with  loginform=loginform signupform=signupform  %}
      </div>
      <div class="col-sm-4"></div>
     
   </div>
    <br>
  {% endifequal %}
{# endloginsignuppage #}















  {# footer of page #}
  <div class="jumbotron">
   {% include 'home/footer.html' %}
   {# General Use Licence All Right to HIOS Organigestion #}
  <code class="text-center">WebDesign : HIOS@Product 2016</code>
  </div>


 {% endblock %}




