<div class="row">

<div class="col-sm-2">
<dl class="text-muted">
 <dt class="text-primary">ABOUT US</a></dt>
    <dd><a href="/home/page/Profile">Profile</a></dd>
    <dd><a href="/home/page/Overview">Overview</a></dd>
    <dd><a href="/home/page/Policy">Policy</a></dd>
    <dd><a href="/home/page/TermsCondition">Terms & Condition</a></dd>
</dl>
</div>

<div class="col-sm-2">
<dl class="text-muted">
 <dt class="text-primary">PRODUCT</dt>
    <dd><a href="/home/mobilecover">Mobile Cover</a></dd>
    <dd><a href="/home/temperglass">Temper Glass</a></dd>
    <dd><a href="/home/commingsoon"> Comming Soon</a></dd>
    <dd><a href="/home/mobileskin">Mobile skin</a></dd>
    <dd><a href="/home/laptopskin">Laptop skin</a></dd>
</dl>

</div>

<div class="col-sm-2">
<dl class="text-muted">
 <dt class="text-primary">MEDIA</dt>
    <dd><a href="/home/page/Event">Event</a></dd>
    <dd><a href="/home/page/Social">Social</a></dd>
    <dd><a href="/home/page/Press">Press</a></dd>
</dl>
</div>

<div class="col-sm-2">
<dl class="text-muted">
 <dt class="text-primary">CONTACT US</dt>
    <dd><a target="_blank"  href="https://www.facebook.com/designingthequality?fref=ts">Facebook</a></dd>
    <dd><a target="_blank"  href="https://instagram.com/phonewalaa/">Instagram</a></dd>
    <dd><a target="_blank"  href="https://twitter.com/phonewalaa">Twiter</a></dd>
    <dd><a target="_blank"  href="https://www.linkedin.com/profile/view?id=431297787&authType=NAME_SEARCH&authToken=xqz1&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1436077183352%2Ctas%3Aphonewalaa">LinkedIn</a></dd>
    <dd><a target="_blank"  href="https://plus.google.com/u/0/101600925842350578758/posts">Google Plus</a></dd>
</dl>
</div>

<div class="col-sm-2">
<dl class="text-muted">
 <dt class="text-primary">HELP</dt>
    <dd><a href="/home/page/Payments">Payments</a></dd>
    <dd><a href="/home/page/Shipping">Shipping</a></dd>
    <dd><a href="/home/page/Cancellation">Cancellation</a></dd>
    <dd><a href="/home/page/Return">Return</a></dd>
</dl>
</div>

<hr/>

</div>
