<div class="row">
  <form role="form">


<div class="col-sm-6">
   <div class="panel panel-info">
    <div class="panel-heading "><h4>Shipping Address</h4></div>
      <div class="panel-body">
         <form role="form">
            {{shippingform.as_p}}
         </form>
      </div>
   </div>  
</div>

<div class="col-sm-1"></div>

<div class="col-sm-5">
   <div class="panel panel-info">
     <div class="panel-heading "><h4>Payment Option</h4></div>
     <div class="panel-body">
             
     </div>
   </div>

   <input type="submit" value="Continue" class="btn btn-info">
 </form>
</div>
 </div>