
{% load staticfiles %}

<div class="row">
    <!-- #hknotes Here we use px change after -->
    <div class="col-sm-4">
          <a href="/home">
          <img src="{% static 'home/img/Logo.png'%}"  class="img-responsive" width="120px" height="130px" style="margin-top:-50px">
          </a>
    </div>

    <div class="col-sm-6"></div>

  <div class="col-sm-2">
   {% if 'itemoncart_count' in request.session %}
        <span class="badge">{{request.session.itemoncart_count}}</span>
        {%endif%}
        <br>
        <a href="/home/order/">
          <img src="{% static 'home/img/ShoppingCart.png'%}" class="img-responsive" width="50px" height="50px"/>
        </a>
  </div>
</div>


<div class="row">

<div class="col-sm-10">  
      <ul class="nav nav-tabs">
        <li><a href="/home">{{menu_list.0}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{menu_list.1}}
          <span class="caret"></span></a>
          <div class="dropdown-menu row well" style="width:300px">
           <ul style="list-style:none">
             {%for company in company_list %}
              <li>
                <a href="/home/mobilecover/?company={{company.company_name}}">
                  <img src="/media/{{company.company_logo}}"width="30px" class="img-thumbnail img-responsive grow">
                   {{company.company_name}}
                </a>
              </li>
             {% endfor %}
           </ul> 
          </div >
        </li>

         <li><a href="">{{menu_list.2}}</a></li>
        <li><a href="#">{{menu_list.3}}</a></li>
        <li><a href="#">{{menu_list.4}}</a></li>
        <li>
         {% include 'home/loginsignupbutton.html' with  loginform=loginform signupform=signupform  %}
        </li>

        <li>
        </li>

        <li>
        </li>

       </ul>
 </div>
</div>
 
 
